* {
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
  }
  
  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 1200px;
  }
  
  .gallery-item {
    width: 30%;

  }
  
  .gallery-item img {
    width: 100%;
  }
  
  
  
